<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="aside">

    <div class="">
        <div class="">
            <img th:src="@{/custom/img/info.jpg}">
            <h2 class="" id="name">任建鹏</h2>
            <p class="">
            </p>
        </div>
    </div>
    <div class="" style="display: none">
        <div class="">
            <div class="">
                <div >
                    <div class=""></div>
                    <div class="txt">经典语录</div>
                </div>
            </div>
            <div class="">
                <p>
                    ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                    <span style="display: block;float:right;">--eee</span>
                </p>
            </div>
        </div>
    </div>
    <div class=" ">
        <div class="">
            <div class="">
                <div style="display: flex">
                    <div class=""></div>
                    <div class="">热文排行</div>
                </div>
            </div>
            <div class="">
                <ul th:each="article :${hotList}">
                    <li><a th:href="${'article/'+article.id}" th:text="${article.articleTitle}"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="" data-mod="popu_475" data-dsm="post">
                        <h4 class="feed_new_tit"><span class=""></span><span class="">联系我</span></h4>
                        <div class="">
                            <div class=""><img th:src="@{/custom/img/wei.jpg}" alt="me">
                            </div>
                            <div class="">
                                <p>
                                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.167 2h11.666C14.478 2 15 2.576 15 3.286v9.428c0 .71-.522 1.286-1.167 1.286H2.167C1.522 14 1 13.424 1 12.714V3.286C1 2.576 1.522 2 2.167 2zm-.164 3v1L8 10l6-4V5L8 9 2.003 5z"
                                              fill="#B3B3B3" fill-rule="evenodd"></path>
                                    </svg>
                                    <a href="mailto:r979668507@gmail.com" target="_blank"><span class="">r979668507@gmail.com</span></a>
                                </p>
                                <p>
                                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.999 13.355a.603.603 0 0 1-.609.645H1.61a.603.603 0 0 1-.609-.645l.139-1.47c.021-.355.25-.845.51-1.088 0 0 3.107-2.827 3.343-2.909 0 0-.029-2.46 1.2-2.46h3.635c1.112 0 1.202 2.469 1.202 2.469l3.32 2.9c.26.243.489.733.51 1.088l.139 1.47zM7 10a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H7zm7.806-5.674c.105.135.191.384.19.554l-.003 2.811c0 .17-.133.26-.295.2l-2.462-.999a.478.478 0 0 1-.296-.416V5.445c0-2.07-7.878-2.225-7.878 0v1.21c0 .17-.135.352-.3.404L1.3 7.904c-.165.052-.3-.044-.3-.213V4.88c0-.17.086-.42.191-.554C1.191 4.326 2.131 2 8 2s6.807 2.326 6.807 2.326z"
                                              fill="#B3B3B3"></path>
                                    </svg>
                                    <span class=""> 400-660-0108</span></p>
                                <p>
                                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.496 10.35c-.301-1.705-1.565-2.822-1.565-2.822.18-1.548-.481-1.823-.481-1.823C12.31.915 8.089.998 8 1 7.91.998 3.689.915 3.55 5.705c0 0-.662.275-.481 1.823 0 0-1.264 1.117-1.565 2.822 0 0-.16 2.882 1.445.353 0 0 .36.96 1.022 1.823 0 0-1.183.392-1.083 1.412 0 0-.04 1.136 2.527 1.058 0 0 1.805-.137 2.347-.882h.476c.542.745 2.347.882 2.347.882 2.566.078 2.527-1.058 2.527-1.058.1-1.02-1.083-1.412-1.083-1.412a7.986 7.986 0 0 0 1.022-1.823c1.604 2.529 1.445-.353 1.445-.353z"
                                              fill="#B3B3B3" fill-rule="evenodd"></path>
                                    </svg>
                                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=979668507&amp;site=qq&amp;menu=yes"
                                       target="_blank"><span class="">97968507</span></a>
                            </div>

                            </p>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <p class="">©2017-2018 ITRJP.COM版权所有</p>
                            <p class=""><a href="http://www.miibeian.gov.cn/" target="_blank" class="">冀ICP备17025801号-1</a>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>