<div th:fragment="broadcast">
    <div class="row panel panel-default">
        <div class="col-xs-12 col-sm-6 col-md-8 panel-body">
            <div style="display: inline-flex;">
                <span>
                    <i class="glyphicon glyphicon-bullhorn "></i>
                </span>
                <span class="scroll">
                <ul class="list">
                    <li><a href="javascript:;" target="_blank">不忘初心，继续前行。</a></li>
                    <!--<li><a href="javascript:;" target="_blank">温故而知新，可以为师矣。</a></li>-->
                    <!--<li><a href="javascript:;" target="_blank">学而不思则罔，思而不学则殆。</a></li>-->
                </ul>
            </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 panel-body">
            <i class="glyphicon glyphicon-calendar"></i><span class="DateTime">2018年03月23日 00:00:00 </span>
        </div>
    </div>
</div>