<div th:fragment="list">

    <li th:each="article : ${pageList.dataList}"><span class="blogpic"><a href="/"><img
            th:src="${article.imgUrl}"></a></span>
        <h3 class="blogtitle"><a th:href="'a/'+${article.id}" th:text="${article.articleTitle}"></a>
        </h3>
        <div class="bloginfo">
            <p class="text_desc" th:utext="${article.description}"></p>
        </div>
        <div class="autor"><span class="lm"><a href="/" target="_blank"
                                               class="classname" th:href="${'tags/'+article.tags}"
                                               th:text="${article.tags}"></a></span><span
                class="dtime" th:text="${article.date}"></span><span class="viewnum">浏览（<a href=""
                                                                                           th:text="${article.readCount}">0</a>）</span><span
                class="readmore"><a
                th:href="${article.id}">阅读原文</a></span></div>
    </li>
    <div class="down_nav">
        <ul class="pagination pagination-lg" style="margin: 0px 0;">
            <li th:class="${pageList.pageNumber==1}?'disabled' : ''" ><a th:href="@{'/?pageNo=' + ${pageList.pageNumber-1}}">上一页</a>
            </li>
            <li th:if="${pageList.pageNumber-3 >=1}"><a th:href="@{'/?pageNo=' + ${pageList.pageNumber-3}}"
                                                        th:text="${pageList.pageNumber -3}">1</a></li>
            <li th:if="${pageList.pageNumber-2 >=1}"><a th:href="@{'/?pageNo=' + ${pageList.pageNumber-2}}"
                                                        th:text="${pageList.pageNumber -2}">1</a></li>
            <li th:if="${pageList.pageNumber-1 >=1}"><a th:href="@{'/?pageNo=' + ${pageList.pageNumber-1}}"
                                                        th:text="${pageList.pageNumber -1}">1</a></li>
            <li class="active"><a href="javascript:;" th:text="${pageList.pageNumber}">1</a></li>
            <li th:if="${pageList.pageNumber+1 <=pageList.pages}"><a th:href="@{'/?pageNo=' + ${pageList.pageNumber+1}}"
                                                                     th:text="${pageList.pageNumber +1}">1</a></li>
            <li th:if="${pageList.pageNumber+2 <=pageList.pages}"><a th:href="@{'/?pageNo=' + ${pageList.pageNumber+2}}"
                                                                     th:text="${pageList.pageNumber +2}">1</a></li>
            <li th:if="${pageList.pageNumber+3 <=pageList.pages}"><a th:href="@{'/?pageNo=' + ${pageList.pageNumber+3}}"
                                                                     th:text="${pageList.pageNumber +3}">1</a></li>

            <li th:class="${pageList.pageNumber==pageList.pages}?'disabled' : ''"><a
                    th:href="@{'/?pageNo=' + ${pageList.pageNumber+1}}">下一页</a></li>
        </ul>
        <br>
    </div>

</div>