<div th:fragment="banner">
    <ul>
        <li><a href="/"><i><img src="images/b01.jpg"></i>
            <div class="font">
                <h3>个人博客模板《早安》</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b02.jpg"></i>
            <div class="font">
                <h3>个人博客模板《早安》</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b03.jpg"></i>
            <div class="font">
                <h3>个人博客模板《早安》</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b04.jpg"></i>
            <div class="font">
                <h3>个人博客模板《早安》</h3>
            </div>
        </a></li>
        <li><a href="/"><i><img src="images/b05.jpg"></i>
            <div class="font">
                <h3>个人博客模板《早安》</h3>
            </div>
        </a></li>
    </ul>
</div>