.logo {
    /*background-color: cadetblue;*/
    font-size: 30px;
    text-align: center;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    /*position: fixed; */
    /*zIndex: 99;*/
    width: 100%;
    /*margin: 15px 0 15px 0px*/
}

.header .menu {
    /*height: 64px;*/
    line-height: 60px;
    float: right;
}

.ant-menu-horizontal {
    border-bottom: 0px solid #e8e8e8;
}

.loading-bar {
background-color: #40baff;
    height: 2px;
}